<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
<meta charset="utf-8" />
<title>Admin Dashboard</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="assets/css/metro.css" rel="stylesheet" />
<link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="assets/css/style.css" rel="stylesheet" />
<link href="assets/css/style_responsive.css" rel="stylesheet" />
<link href="assets/css/style_default.css" rel="stylesheet" id="style_color" />
<link rel="stylesheet" type="text/css" href="assets/uniform/css/uniform.default.css" />
<link rel="shortcut icon" href="assets/favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
<!-- BEGIN LOGO -->
<div class="logo">
  <h2 style="color:#fff">Welcome to Admin Panel</h2>
</div>
<!-- END LOGO --> 
{{{ body }}}
<!-- BEGIN COPYRIGHT -->
<div class="copyright"> 2020 &copy; Admin Dashboard. </div>
<!-- END COPYRIGHT --> 
<!-- BEGIN JAVASCRIPTS --> 
<script src="assets/js/jquery-1.8.3.min.js"></script> 
<script src="assets/bootstrap/js/bootstrap.min.js"></script> 
<script src="assets/uniform/jquery.uniform.min.js"></script> 
<script src="assets/js/jquery.blockui.js"></script> 
<script type="text/javascript" src="assets/jquery-validation/dist/jquery.validate.min.js"></script> 
<script src="assets/js/app.js"></script> 
<script>
    jQuery(document).ready(function() {     
      App.initLogin();
    });
  </script> 
{{#ifCond custom '!=' ""}}
<script type="text/javascript" src="custom/{{custom}}.js"></script>
{{/ifCond}} 
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
